@font-face {
  font-family: "Open Sans";
  src: url("../sources/fonts/OpenSans-Regular.ttf"),
    url("../sources/fonts/OpenSans-Regular.woff"),
    url("../sources/fonts/OpenSans-Regular.woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../sources/fonts/OpenSans-Bold.ttf"),
    url("../sources/fonts/OpenSans-Bold.woff"),
    url("../sources/fonts/OpenSans-Bold.woff2");
  font-style: normal;
  font-weight: bold;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.figure {
  margin: 0;
}

/* ================ HEADER ================ */
.header:before {
  z-index: 2;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  position: relative;
  z-index: 3;
  background-image: url(../sources/img/banner-bg.jpg);
  background-repeat: no-repeat;
  height: 455px;
  background-size: cover;
}

.container {
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 36px;
}

.logo {
  width: 179px;
  position: relative;
  z-index: 3;
}

.burger {
  display: none;
}

.nav {
}

.nav-list {
  display: flex;
}

.nav-item {
  color: white;
  text-transform: uppercase;
}

.nav-item:nth-child(n + 2) {
  margin-left: 35px;
}

.nav-link {
  font-size: 13px;
  position: relative;
  z-index: 3;
  text-decoration: none;
  color: #fff;
}

.h1 {
  color: #fff;
  position: relative;
  z-index: 3;
  text-align: center;
  padding-top: 97px;
  font-size: 45px;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 719px;
  margin: auto;
}

/* ================ TRENDS ================ */

.trends {
  flex-direction: column;
  display: flex;
  padding-top: 40px;
}

.trends-title {
  align-self: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
}

.trends-title::after {
  margin: 8px auto 12px;
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
}

.trends-cards-block {
  display: flex;
  gap: 4px;
}

.trends-card {
  position: relative;
  max-width: 25%;
  height: 319px;
  display: flex;
  align-items: flex-end;
  padding: 0px 22px 16px 18px;
}

.trends-card:before {
  z-index: 2;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.trends-inner {
  position: relative;
  z-index: 3;
  color: #ffffff;
  border: 3px solid #b59f5b;
  padding: 19px 15px 12px 38px;
  /* padding-left: 38px;
  padding-bottom: 12px; */

  /* padding-top: 19px;
  padding-right: 15px; */
  /* после 1 ответа */
}

.trends-inner:hover {
  color: #b59f5b;
}

.inner-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  padding-right: 15px;
}

.inner-title-anchor {
  color: #ffffff;
}

.trends-card {
  background-repeat: no-repeat;
  background-size: cover;
}

.seedling-img {
  background-image: url(../sources/img/trend1.jpg);
}

.cheese-img {
  background-image: url(../sources/img/trend2.jpg);
}

.hiking-img {
  background-image: url(../sources/img/trend3.jpg);
}

.lemons-img {
  background-image: url(../sources/img/trend4.jpg);
}

.inner-tag {
  display: inline-block;
}

.inner-tag {
  font-size: 14px;
  /* line-height: 40px;
  после 1 ответа */
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  margin-right: 12px;
}

.inner-tag:hover {
  text-decoration: underline;
}

.inner-anchor {
  color: #b59f5b;
}
/* ================ MAIN ================ */

.main-container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 50px 15px 0;
}

.main {
  width: 778px;

  display: flex;
  flex-wrap: wrap;
}

.main-card {
  display: flex;
  align-items: flex-start;
}

.main-card:not(:last-child) {
  margin-bottom: 60px;
}

.card-img {
  background-repeat: no-repeat;
  width: 381px;
  height: 294px;
}

.card-img1 {
  /* background-image: url(../sources/img/last-post1.jpg); */
}

.card-img2 {
  /* background-image: url(../sources/img/last-post2.jpg); */
}

.card-img3 {
  /* background-image: url(../sources/img/last-post3.jpg); */
}

.card-img4 {
  /* background-image: url(../sources/img/last-post4.jpg); */
}

.card-img5 {
  /* background-image: url(../sources/img/last-post5.jpg); */
}
/* object-fit: contain; */
/* height: 294px; */

/* test не уверен, что стоит задавать картинке жесткие размеры(высоту), но без указания высоты при удалении вех блоков, расположенных ниже она тянется вниз, искажая пропорции */
/* object-fit: contain; за исключением указания этого св-ва, но тогда картинка смещается вниз, хоть и сохраняет пропорции */

.card-text {
  margin-left: 30px;
}

.card-list-links {
  display: flex;

  flex-wrap: wrap;
}

.card-list-link {
  list-style: none;
}

.card-list-link:nth-child(n + 2) {
  margin-left: 19px;
}

.card-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
}

.card-link:hover {
  color: #000000;
}

.card-title {
  margin-top: -4px;
  letter-spacing: -0.2px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.title-link {
  color: #0f0d0e;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.title-link:hover {
  color: #b59f5b;
}

.date {
  margin-top: 26px;
}

.datetime {
  font-size: 12px;
  color: #888888;
  display: inline-block;
}

.author {
  margin-left: 11px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  font-style: normal;
  letter-spacing: 0.5px;

  word-break: break-all;
  /* test добавил на случай длинного имени, оно "спрыгивает" ниже даты, если длинное, аналогично ведет себя при очень длинном тексте даты */
}

.description-container {
  margin-top: 47px;
}

.description-container > p {
  letter-spacing: 0.2px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

.description-container > p:not(:last-child) {
  margin-bottom: 10px;
}

/* ================ ASIDE ================ */

.aside {
  width: 272px;

  /* display: flex;
  flex-wrap: wrap;
  после 1 ответа */
}

.aside-title {
  font-size: 14px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 17px 8px;
}

.aside-title::after {
  margin: 4px auto 27px;
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
}

.aside-section-card {
}

.aside-card {
  align-items: flex-start;
  display: flex;
  margin-bottom: 22px;
}

.aside-card:last-of-type {
  margin-bottom: 62px;
}

.aside-img {
  width: 70px;
  height: 70px;
}

/* .aside-img1 {
  background-image: url(../sources/img/2.jpg);
}

.aside-img2 {
  background-image: url(../sources/img/151.jpg);
}

.aside-img3 {
  background-image: url(../sources/img/45.jpg);
}

.aside-img4 {
  background-image: url(../sources/img/501.jpg);
}

.aside-img5 {
  background-image: url(../sources/img/7.jpg);
} */

.aside-text {
  margin-left: 20px;
}

.aside-strange-one {
  height: 70px;
  /* -костыльный метод в рамках ПиксПерф, картинка вслед за текстом была почему-то прямоугольной */
}

.aside-datetime {
  display: block;
  /* margin-left: -9px; */
  /* отрицательный марджин */
  opacity: 0.541;
  font-size: 12px;
  color: #000000;
}

.aside-card-title {
  margin-top: 4px;
  /* margin-left: -8px; */
  /* отрицательный марджин */
  letter-spacing: -0.5px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.aside-card-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.aside-card-link:hover {
  color: #b59f5b;
}

/* ================ FORM-SEARCH ================ */

.form-search {
  display: flex;
}

.search {
  width: 221px;
  /* ширина-костыль */
  padding: 6px 19px;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  box-sizing: border-box;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-button {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.search-button:hover {
  background-color: #000000;
}

/* ================ MAILING LIST FORM ================ */
.mailing-list {
  margin-top: 60px;
}

.mailing-list-title {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;

  margin-bottom: 23px;
  /* после 1 ответа */
}

.mailing-list-title::after {
  margin: 11px auto 0;
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
}

.email {
  padding-left: 18px;
  width: 270px;
  height: 48px;
  opacity: 0.541;
  font-size: 13px;
  background-color: #f4f7f6;
  margin-bottom: 18px;
  border: 1px solid #f4f7f6;
}

.email-button {
  cursor: pointer;
  width: 270px;
  height: 48px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #ffffff;
  font-weight: 700;
  border: none;
}

.email-button:hover {
  background-color: #323232;
}

/* ================ TAGS SECTION ================ */

.tags {
  margin-top: 60px;
  /* после 1 ответа */
}

.tags-title {
  /* margin-top: -2px; */
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  /* margin-bottom: 24px; */
}

.tags-title::after {
  margin: 11px auto 0;
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border: 3px solid #eeeeee;
  margin: 4px 4px 0 0;
}

.tag:hover {
  border-color: #b59f5b;
}

.tag-link {
  display: block;
  padding: 6px 12px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0f0d0e;
}

/* ================ THEMES SECTION ================ */

.themes {
  margin-top: 52px;
}

.themes-title {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  margin-bottom: 31px;
}

.themes-title::after {
  margin: 11px auto 0;
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
}

.themes-list {
  list-style: none;
  line-height: 0.2;
}

.themes-item:not(:first-child) {
  margin-top: 20px;
}
.themes-item {
  padding-bottom: 18px;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  border-bottom: 1px solid #eeeeee;
}

.themes-link {
  color: #000000;
}

.themes-link:hover {
  color: #b59f5b;
}

.themes-sup {
  color: #b59f5b;
  font-size: 12px;
  font-weight: 700;
  vertical-align: super;
}

/* ================ PRODUCTS ================ */

.products {
  margin-top: 68px;
  /* margin-top: 0-16px не отображается */
}

.products-title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
}

.products-title::after {
  margin: 8px auto 12px;
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
}

.products-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0 39px;
}

.products-inner {
  outline: 3px solid #b59f5b;
  outline-offset: 20px;
  flex-grow: 1;
}

.products-inner-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  margin-bottom: 3px;
}

.products-description {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

.products-link {
  color: #d3c59d;
}

.products-card {
  margin-top: 10px;
  display: flex;
  width: 300px;
  flex-direction: column;
  background-repeat: no-repeat;
}

.products-img1 {
  /* background-image: url(../sources/img/shop-item-desk1.jpg);
  width: 300px;
  height: 204px; */
}

.products-img2 {
  background-image: url(../sources/img/shop-item-desk2.jpg);
  width: 300px;
  height: 204px;
}

.products-img3 {
  background-image: url(../sources/img/shop-item-desk3.jpg);
  width: 300px;
  height: 204px;
}

.price-button-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
}

.new-price {
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.btn-to-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b59f5b;
  color: white;
  width: 140px;
  height: 49px;
  text-transform: uppercase;
}
/* ================ FOOTER ================ */

.footer {
  margin-top: 90px;
}

.footer-wrapper {
  width: 1170px;
  margin: auto;
}

.address {
  background-color: #f4f7f6;
  padding: 31px 0;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item:not(:first-child) {
  margin-left: 30px;
}

.footer-link {
  display: block;
  width: 19px;
  height: 19px;
}

.footer-dribble {
  background-image: url(../sources/svg/001-dribbble.svg);
  color: black;
}

.footer-pinterest {
  background-image: url(../sources/svg/001-pinterest.svg);
  color: black;
}

.footer-tumblr {
  background-image: url(../sources/svg/003-tumblr.svg);
}

/* ================ COPYRIGHT ================ */

.copyright {
  margin-top: 72px;
  margin-bottom: 41px;
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  text-align: center;
}

/* ================ POPUP ================ */

.hidden {
  /* display: none; */
}

.popup {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  color: #000000;
  max-width: 390px;
  padding: 30px;
  position: relative;
}

.popup-close {
  position: absolute;
  top: -22px;
  right: -2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.popup-title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.popup-title::after {
  margin: 8px auto 25px;
  content: "";
  display: block;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
}

.popup-how-often {
  font-size: 13px;
  margin-bottom: 5px;
}

.select {
  background-color: #f4f7f6;
  padding: 19px;
  opacity: 0.541;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #000000;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../sources/svg/form-arrows.svg);
  background-position: center right 15px;
  background-repeat: no-repeat;
  background-size: 10px;
  width: 100%;
}

.option {
}

.email-sendings {
  margin-top: 27px;
  margin-bottom: 11px;
  font-size: 13px;
}

.radio-block {
  margin-bottom: 20px;
}

.label-textarea {
  font-size: 13px;
}

.textarea {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f7f6;
  border: none;
  width: 100%;
  padding: 22px;
  height: 131px;
  margin-bottom: 27px;
  margin-top: 2px;
  resize: none;
}

.popup-button {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  background-color: #b59f5b;
  width: 100%;
  height: 48px;
  border: none;
  margin-bottom: 24px;
  cursor: pointer;
}

/* =================MEDIA============= */

@media (min-width: 768px) and (max-width: 1199px) {
  .header:before {
    z-index: 2;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .header {
    position: relative;
    z-index: 3;
    background-image: url(../sources/img/banner-bg-tablet.jpg);
    background-repeat: no-repeat;
    height: 455px;
    background-size: cover;
  }

  .nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .header-top {
    justify-content: space-between;
  }

  .trends-card {
  }
}
